<div class="col-xs-12 col-centered bi-forma-report1">
	<table class="report-table">
		<tbody>
			<tr valign="top" align="center">
				<td colspan="3">
					<div class="div-title30">
						<span class="span-title"></span>
					</div>
				</td>
			</tr>
			<tr valign="top" align="center">
				<td colspan="3">
					<div class="div-title30">
						<b>ИДК:</b><span class="span-idk"></span>
					</div>
				</td>
			</tr>
			<tr valign="top" align="center">
				<td>
					<div class="div-title50">
						<b><span class="span-region-title">Регион</span> :</b><br />
						<span class="span-region"></span>
					</div>
				</td>
				<td>
					<div class="div-title50">
						<b><span class="span-oked-title">Деятельность</span> :</b><br />
						<span class="span-oked">Производство электроэнергии тепловыми электростанциями</span>
					</div>
				</td>
				<td>
					<div class="div-title50">
						<b><span class="span-formof-ownership-title">Форма собственности</span> :</b><br />
						<span class="span-formof-ownership">Юридические лица</span>
					</div>
				</td>
			</tr>
			<tr valign="top" align="center">
				<td>
					<div class="div-title30"><b><span class="object-grid1-title">Объем потребления энергоресурсов</span></b></div>
					<div class="object-grid1"></div>
				</td>
				<td>
					<div class="div-title30"><b><span class="object-chart1-title">Динамика потребления (тыс. т.у.т.)</span></b></div>
					<div class="object-chart1"></div>
				</td>
				<td>
					<div class="div-title30"><b><span class="object-chart2-title">Соотношение к остальным субъектам</span></b></div>
					<div class="object-chart2"></div>
				</td>
			</tr>
			<tr valign="top" align="center">
				<td colspan="3">
					<div class="div-title30">
						<b><span class="dynamic-cons-title">Динамика потребления энергоресурсов</span></b>
					</div>
					<div class="row">
						<div class="col-md-2">
							<div class="object-chart3"></div>
						</div>
						<div class="col-md-9">
							<div class="object-chart4"></div>
						</div>
					</div>
					<!--<table class="in-table" >
						<tbody style="width:100%;">
							<tr>
								<td colspan="1">
									<div class="object-chart3"></div>
								</td>
								<td colspan="2">
									<div class="object-chart4"></div>
								</td>
							</tr>
						</tbody>
						
	</table>
	-->
				</td>
			</tr>
			<tr valign="top" align="center">
				<td colspan="3">
					<div class="div-title30">
						<b><span class="object-grid2-title">Структура потребления энергоресурсов</span></b>
					</div>
					<div class="object-grid2"></div>
				</td>
			</tr>
			<tr valign="top" align="center">
				<td colspan="3">
					<div class="div-title30">
						<b><span class="object-grid3-title">Показатели энергоэффективности</span></b>
					</div>
					<div class="object-grid3"></div>
				</td>
			</tr>
			<tr valign="top" align="center">
				<td colspan="3">
					<div class="div-title30">
						<b><span class="object-grid4-title">Сведения об энергоаудите</span></b>
					</div>
					<div class="object-grid4"></div>
				</td>
			</tr>
			<tr valign="top" align="center">
				<td colspan="3">
					<div class="div-title30">
						<b><span class="object-grid5-title">Мероприятия</span></b>
					</div>
					<div class="object-grid5"></div>
				</td>
			</tr>
		</tbody>
	</table>

</div>
