@using Aisger

@using (Html.BeginForm())
{
	<fieldset>
		<h3>@ResourceSetting.sPasswordChangeSuccess</h3>
@*		<button type="button" class="btn btn-success btn-sm" onclick="fn">
			<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>@ResourceSetting.Return
		</button>*@


	</fieldset>
}

<a href="@Url.Action("Index", "Home")"  class="btn btn-primary btn-sm">
	<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>На главную
</a>




