@Html.Partial("~/Views/Home/MenuItem.cshtml")
<div id="B">
    @*    @Html.Partial("~/Views/Home/TitleItem.cshtml")*@
    @*  <div id="inboxMenuDiv" data-source-url="@Url.Action("Index","DicPost")" class="grid-div">
            @{Html.RenderAction("Index", "DicPost");}
        </div>*@
    @*<div id="outboxMenuDiv" data-source-url="@Url.Action("Index","DicKindDocument")" class="grid-div">
            @{Html.RenderAction("Index", "DicKindDocument");}
        </div>
    *@
</div>
