.ui-button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.control-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.control-good {
    border: 1px solid green;
    background-color: #efffee;
}

td {
    border-left: 1px solid #dddddd;
}

.glyphicon-info-sign {
    color: lightgray;
}

.def-icon {
    color: gray;
}

.mark-icon {
    color: #337ab7;
}

.input-group-addon {

	padding-left: 0px;
	padding-right: 0px;
}

textarea.comment {
    height: 100px;
    width: 100%;
}